<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DRapp Home</title>
        <link rel="stylesheet" href="css/index.css">
        <script src="https://kit.fontawesome.com/8d3830eb12.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
          <div class="welcome-title">
            <i class="fa-regular fa-hospital fa-lg" style="color: #000000;"></i> Witaj w DR App 
          </div>
            <div class="menu">
                <button th:href="/login"><i class="fa-solid fa-user fa-xl" style="color: #000000;"></i><p>Zaloguj się</p></button>
                <button th:href="/registerUser"> <i class="fa-solid fa-id-card fa-xl" style="color: #00040a;"></i><p>Zarejestruj się</p></button>
                <button th:href="/forProfessionals"><i class="fa-solid fa-user-doctor fa-xl" style="color: #000000;"></i><p>Dla profesjonalistów</p></button>
            </div>
            <div class="logged" hidden="hidden"></div>
        </header>
        <div class="main-desc">
            <p>Witaj w aplikacji Dr App. Tutaj możesz umówić się na wizytę do swojego ulubionego specjalisty. Zarejestruj się klikając w przycisk powyżej i postępuj zgodnie z
            instrukcjami wyświetlonymi na ekranie. Po udanej rejestracji zaloguj się i kożystaj z możliwości aplikacji.
            </p>
        </div>
        <footer class="footer">
            <p>Kontakt:507 375 677 / mkordasinski@gmail.com</p>
            <p>Created by Michał Kordasiński</p>
        </footer>
    </body>
</html>